[Unit]
Description=gocacher
Requires=redis-server.service
After=redis-server.service
[Service]
TimeoutStartSec=0
Restart=always
ExecStart=-/usr/local/bin/gocacher
[Install]
WantedBy=multi-user.target
